logs
project/project
project/target
public/download
public/javascripts/OLD
.target/
target/
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/bin
bin/
.settings/
.DS_Store
