@(hubSoftware: Map[String, Integer], phoneMaker: Map[String, Map[String,Integer]], phone: String, gadget: String, hub: Integer, gadgetTotal: Integer)
@total =  @{
        	var total = 0:Float;
        	for((key,value) <- phoneMaker){
        		for((k,v) <- value){
        			total += v;
    			}	
        	}
        	total
        }

@scripts = {
		<script>
		$(function () { 
			$('#sw_ver_container').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false
		        },
		        title: {
		            text: 'Hub 软件版本分布'
		        },
		        tooltip: {
		    	    pointFormat: '{series.name}: <b>{point.y}</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: 'Quantity',
		            data: [
		                @for((key,value) <- hubSoftware){
			                {
			                	name: 'Ver. @key',   
			                	y: @value,
			                },
		        		}
		            ]
		        }]
		    });
		});
		
		
		$(function () { 
			$('#phone_maker_container').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false
		        },
		        title: {
		            text: '已连接Hub的智能手机制造商分布'
		        },
		        tooltip: {
		    	    pointFormat: '{series.name}: <b>{point.y}</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: 'Quantity',
		            data: [
		                @for((key,value) <- phoneMaker){ 
			                {
			                	name: '@key', 
			                	y: @{
			                		var q = 0:Float;
			                		
			                		for((k,v) <- value){
			                			q += v;
		                			}	
			                		//q = q / total;
			                		q}
			                },
		        		}
		                
		            ]
		        }]
		    });
		});

		$(function(){
	
			$(".heading").tooltip();
		});
		</script>
	}
	
@main("hubs", scripts){
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<table class="table table-no-border">
			<tr>
				<td class="col-md-3 center-align"> 					
						<span class="item-heading">
							<a class="heading" title="Hub 总数">@hub<span class="item-heading-unit">个Hub</span></a>
						</span>					
				</td>

				<td class="col-md-3 center-align"> 					
						<span class="item-heading">
							<a class="heading" title="Gadget 总数">@gadgetTotal<span class="item-heading-unit">个Gadget</span></a>
						</span>					
				</td>

				<td class="col-md-3 center-align"> 					
						<span class="item-heading">
							<a class="heading" title="每个Hub平均连接的手机数量">@phone<span class="item-heading-unit">个手机/Hub</span></a>
						</span>					
				</td>
				
				<td class="col-md-3 center-align"> 					
						<span class="item-heading">
							<a class="heading" title="每个Hub平均连接的Gadget数量">@gadget<span class="item-heading-unit">个Gadget/Hub</span></a>
						</span>					
				</td>
			</tr>

		</table>
	</div>
</div>
<div class="row">

	<div class="col-sm-6 col-xs-12 " id="sw_ver_container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
	<div class="col-sm-6 col-xs-12 " id="phone_maker_container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>


}