@(results: Map[String, Integer], names: Map[String, Map[String,Integer]], funcs: Map[String, Map[String,Integer]], comms: Map[String, Map[String,Integer]], funcTime: Map[String, Map[String, Array[Integer]]])

@scripts = {
		<script>
		$(function () { 
			$('#gadget_type_container').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false
		        },
		        title: {
		            text: 'Gadget 类型分布'
		        },
		        tooltip: {
		    	    pointFormat: '{series.name}: <b>{point.y}</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: '数量',
		            data: [
				                @for((key,value) <- results){		                
					                 {
					                	 name: '@key',   
					                	 y: @value,
					                 },
				        		}
		            	  ]
		        }]
		    });
		});
		
		@for((key, value) <- funcs){
			$(function () { 
				$('#@key').highcharts({
			        chart: {
			            plotBackgroundColor: null,
			            plotBorderWidth: null,
			            plotShadow: false
			        },
			        title: {
			            text: '@key'
			        },
			        tooltip: {
			    	    pointFormat: '{series.name}: <b>{point.q}</b> 次'
			        },
			        plotOptions: {
			            pie: {
			                allowPointSelect: true,
			                cursor: 'pointer',
			                dataLabels: {
			                    enabled: true,
			                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
			                    style: {
			                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
			                    }
			                }
			            }
			        },
			        series: [{
			            type: 'pie',
			            name: '被使用',
			            data: [
							@for((k,v) <- value){
							    {   
							    	name: '@k',
							    	y: @v,
				                	q: @v	
							    },
							}
						]
				        }]
				    });
				});
			
		}
		
		@for((key, value) <- funcTime){
			$(function () {
			        $('#functime_@key').highcharts({
			            chart: {
			                type: 'column'
			            },
			            title: {
			                text: '@key 功能使用时间分布'
			            },
			            subtitle: {
			                text: ''
			            },
			            xAxis: {
			                categories: [
			                    '1-3 AM',
			                    '3-5 AM',
			                    '5-7 AM',
			                    '7-9 AM',
			                    '9-11 AM',
			                    '11-13 AM',
			                    '13-15 PM',
			                    '15-17 PM',
			                    '17-19 PM',
			                    '19-21 PM',
			                    '21-23 PM',
			                    '23-1 PM'
			                ]
			            },
			            yAxis: {
			                min: 0,
			                title: {
			                    text: '使用次数'
			                }
			            },
			            tooltip: {
			                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			                    '<td style="padding:0"><b>{point.y} 次</b></td></tr>',
			                footerFormat: '</table>',
			                shared: true,
			                useHTML: true
			            },
			            plotOptions: {
			                column: {
			                    pointPadding: 0.2,
			                    borderWidth: 0
			                }
			            },
			            series:[
			        		@for((k,v)<-value){
			        			{
			        				name: '@k',
			        				data: [
										@for(i <- 0 to (v.length - 1)) {
										    @v(i),
										 }   
			        				]
			        			},
			        		}
			        	]
			        });
			    });
		}
		
		<!-- add css style to tag cloud elements -->
		$(document).ready(function() {
			var tags = $(".tag_total");
			for(var i=0;i<tags.length;i++)
			{
				var $obj = $(tags[i]);
				var total = +$obj.text().trim();

				var spans = $obj.nextAll();
			    for(var j=0;j<spans.length;j++)
			    {
			        var $obj = $(spans[j]);
			        var val = +$obj.find("span").text();
			        var per = Math.floor(val/total * 10);
			        $obj.addClass("tagCloud"+per);   
			    }
			}
			
			$(".tag_link").tooltip();
		  });
		</script>
		
	}

@main("gadgets", scripts){

<div class="row">
	<h2>所有 Gadget 的类型分布</h2>
	<div class="col-sm-6 col-xs-12" id="gadget_type_container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>

<div class="row">
<h2>各类 Gadget 的功能分布</h2>
@for((key, value) <- funcs){
	<div class="col-sm-6 col-xs-12" id="@key" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
}
</div>

<div class="row">
	<h2>各类 Gadget 的用户自定义命名</h2>
@for((key,value) <- names){
	<div class="col-sm-6 col-xs-12">
		<div class="thumbnail">
			<div class="caption tags" style="padding: 15px;">
				<h3 style="margin-top:10px; margin-bottom:20px;">@key</h3>
				<span class="hidden tag_total">
				@{var t=0:Integer;
					for((k,v) <- value){
						t+=v;
						}
				t
				}</span>
				@for((k,v) <- value){
					<span class="tag"><a class="tag_link" title="被命名 @v 次">@k</a><span class="hidden tag_val">@v</span></span>
				}
			</div>
		</div>
	</div>
}
</div>

<div class="row">
	<h2>每类 Gadget 的功能使用时间分布</h2>
	@for((key, value) <- funcTime){
		<div class="col-sm-12 col-xs-12 timeseries" id="functime_@key"></div>
	}
</div>
}